$cell-color: #eaf0f3;
$cell-border-color: lighten($cell-color, 5%);
$text-color: darken($cell-color, 40%);
$input-color: lighten($cell-color, 15%);
$background-color: lighten($cell-color, 2%);

$highlight-color: adjust-hue(saturate(lighten($cell-color, 3%), 100%), 120deg);
$shadow-color: darken(saturate($cell-color, 70%), 70%);

$border-width: 1px;
$cell-size: 1rem;
$border-radius: 0;

@mixin shadow($mul: 1, $extra-directives: "0 0 0 transparent") {
  box-shadow:
    ($mul * 0.7px)  ($mul * 0.7px)  ($mul * 1.6px)  rgba($shadow-color, ($mul * 0.1)),
    ($mul * 2.2px)  ($mul * 2.2px)  ($mul * 3.6px)  rgba($shadow-color, ($mul * 0.078)),
    ($mul * 4.7px)  ($mul * 4.6px)  ($mul * 6.3px)  rgba($shadow-color, ($mul * 0.07)),
    ($mul * 8.7px)  ($mul * 8.6px)  ($mul * 10px)   rgba($shadow-color, ($mul * 0.064)),
    ($mul * 15.1px) ($mul * 14.8px) ($mul * 15.5px) rgba($shadow-color, ($mul * 0.059)),
    ($mul * 26px)   ($mul * 25.5px) ($mul * 24.1px) rgba($shadow-color, ($mul * 0.053)),
    ($mul * 48.9px) ($mul * 47.9px) ($mul * 40px)   rgba($shadow-color, ($mul * 0.046)),
    ($mul * 104px)  ($mul * 102px)  ($mul * 80px)   rgba($shadow-color, ($mul * 0.034)),
    #{$extra-directives};
  ;
}

@mixin inset-shadow($mul: 1) {
  box-shadow:
    ($mul * 0.7px)  ($mul * 0.7px)  ($mul * 1.6px)  inset rgba($shadow-color, ($mul * 0.1)),
    ($mul * 2.2px)  ($mul * 2.2px)  ($mul * 3.6px)  inset rgba($shadow-color, ($mul * 0.078)),
    ($mul * 4.7px)  ($mul * 4.6px)  ($mul * 6.3px)  inset rgba($shadow-color, ($mul * 0.07)),
    ($mul * 8.7px)  ($mul * 8.6px)  ($mul * 10px)   inset rgba($shadow-color, ($mul * 0.064)),
    ($mul * 15.1px) ($mul * 14.8px) ($mul * 15.5px) inset rgba($shadow-color, ($mul * 0.059)),
    ($mul * 26px)   ($mul * 25.5px) ($mul * 24.1px) inset rgba($shadow-color, ($mul * 0.053)),
    ($mul * 48.9px) ($mul * 47.9px) ($mul * 40px)   inset rgba($shadow-color, ($mul * 0.046)),
    ($mul * 104px)  ($mul * 102px)  ($mul * 80px)   inset rgba($shadow-color, ($mul * 0.034))
  ;
}

html {
  box-sizing: border-box;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 400;
  text-align: center;
  color: $text-color;

  text-shadow:
    1px 1px 1px rgba($highlight-color, 1),
    -1px -1px 1px rgba($shadow-color, 0.2);

  text-transform: lowercase;
  margin: 0;
  padding: 2rem;

  height: 100vh;
  overflow: auto;

  background-color: $background-color;
  background-image: radial-gradient(ellipse at bottom right, rgba($shadow-color, 0.33), rgba($highlight-color, 1));
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 100;
  letter-spacing: -0.05em;
}

button, input {
  color: $text-color;
}

button, input[type=submit] {
  text-transform: lowercase;
  font-weight: 400;
  font-family: inherit;


  font-size: 1em;
  background: $input-color;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  transition: box-shadow 120ms ease-out;

  $inner-shadows:
    "1px 1px 0.1rem inset #{rgba($highlight-color, 0.95)}, " +
    "0.5rem 0.5rem 1rem inset #{rgba($highlight-color, 0.55)}, " +
    "-1px -1px 0.1rem inset #{rgba($shadow-color, 0.45)}, " +
    "-1rem -1rem 1rem inset #{rgba($shadow-color, 0.075)}";

  @include shadow(0.33, $inner-shadows);

  &:hover,
  &:focus {
    outline: none;
    @include shadow(0.85, $inner-shadows);
  }

  &:active {
    transition-duration: 50ms;
    @include shadow(0.05, $inner-shadows);
  }

}

.app > h1 {
  margin-bottom: 1rem;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.grid {
  flex: 0;

  @include shadow();

  background: $cell-color;
  border-radius: $border-radius;
}

.row {
  display: flex;
}

form {
  margin: auto;
  width: 10em;
}

.play header {
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    margin: 0 0.25rem;
    min-width: 2rem;
  }
}

.number-input {
  background: $input-color;
  display: flex;
  width: 100%;
  margin: 0.25em auto;

  border-radius: 10px;
  padding: 0.125em;
  @include inset-shadow(0.15);

  label, input {
    flex: 0 0 50%;
    max-width: 50%;
    background: none;
    padding: 0.5em;
    font-size: 1rem;
    border: 0;

    font-family: inherit;
    font-weight: 400;
  }

  label {
    text-align: left;
  }

  input {
    text-align: right;

    &:focus {
      outline: none;
    }
  }
}

span.cell {
  user-select: none;

  font-family: 'Emblema One', cursive;
  font-weight: 400;

  display: block;

  font-size: 0.75rem;

  line-height: 1rem;

  text-align: center;

  width: $cell-size;
  height: $cell-size;

  // border-color: $cell-border-color;
  // border-style: outset;
  // border-width: $border-width;
  // border-radius: $border-radius;

  // &.clicked, &.active:not(.flagged) {
  //   border-color: $cell-color;
  //   border-style: solid;
  // }


  box-shadow:
    1px 1px 0.1rem inset rgba($highlight-color, 0.95),
    0.25rem 0.25rem 0.5rem inset rgba($highlight-color, 0.55),
    -1px -1px 0.1rem inset rgba($shadow-color, 0.45),
    -0.5rem -0.5rem 0.5rem inset rgba($shadow-color, 0.075);

  &.clicked {
    box-shadow: unset;
  }
  &.active:not(.flagged):not(.clicked) {
    box-shadow:
      -1px -1px 0.1rem inset rgba($highlight-color, 0.5),
      0.3rem 0.3rem 0.5rem inset rgba($shadow-color, 0.02),
      1px 1px 0.1rem inset rgba($shadow-color, 0.1);
  }

  &.clicked.bomb {
    background-color: red;
    border-color: red;
    border-style: solid;
  }

  &.bomb, &.flagged {
    font-size: 0.5rem;
  }

  &.neighbor-1 { color: blue }
  &.neighbor-2 { color: green }
  &.neighbor-3 { color: red }
  &.neighbor-4 { color: darkblue }
  &.neighbor-5 { color: darkred }
  &.neighbor-6 { color: teal }
  &.neighbor-7 { color: black }
  &.neighbor-8 { color: gray }
}
